@model ConfidentialEternalPottery.Models.PriceMoment

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PriceMoment</legend>
        @Html.HiddenFor(model => model.RoomId)
        @Html.HiddenFor(model => model.Room.MinimumPrice)
        @Html.HiddenFor(model => model.Room.Capacity)
        @Html.HiddenFor(model => model.Room.Number)
        @Html.HiddenFor(model => model.Room.MinimumPrice)
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.From)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Return to overview", "Index", "PriceMoment", new { roomId = Model.RoomId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
