@model List<ConfidentialEternalPottery.Models.Room>
@{
    ViewBag.Title = "Our rooms";
}
<h3>Book one of our following rooms:</h3>
@{

    foreach (ConfidentialEternalPottery.Models.Room room in ViewBag.Model)
    {
        switch (room.Capacity)
        {
            case 2:
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Double room <small>Room @room.Number</small></h2>
                        <p>A nice weekend away for just the two of you? Check out our nice spacious double rooms!</p>
                    </div>
                    <div class="panel-body">
                        Lorum
                        @Html.ActionLink("Book room " + room.Number, "SetDate", "Booking", new { id = room.RoomId }, new { @class = "btn btn-primary pull-right" })
                    </div>
                </div>
                break;
            case 3:
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Triple room <small>Room @room.Number</small></h2>
                    <p>A nice room for three people.</p>
                </div>
                <div class="panel-body">
                    Lorum
                    @Html.ActionLink("Book room " + room.Number, "SetDate", "Booking", new { id = room.RoomId }, new { @class = "btn btn-primary pull-right" })
                </div>
            </div>
                break;

            case 5:
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Family room <small>Room @room.Number</small></h2>
                    <p>Planning a holiday for the whole family? This rooms sleeps 2 adults and 3 children.</p>
                </div>
                <div class="panel-body">
                    Lorum
                    @Html.ActionLink("Book room " + room.Number, "SetDate", "Booking", new { id = room.RoomId }, new { @class = "btn btn-primary pull-right" })
                </div>
            </div>
                break;
        }

    }
}