@model IEnumerable<ConfidentialEternalPottery.Models.Room>
@{
    ViewBag.Title = "RoomOverview";
}

<h2>Overview</h2>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
        }
</style>

<table class="tg">
    <tr>
        <th class="tg-031e">@Html.DisplayNameFor(model => model.Number)</th>
        <th class="tg-031e">@Html.DisplayNameFor(model => model.Capacity)</th>
        <th class="tg-031e">@Html.DisplayNameFor(model => model.MinimumPrice)</th>
        <th class="tg-031e"></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td class="tg-031e">@Html.DisplayFor(modelItem => item.Number)</td>
            <td class="tg-031e">@Html.DisplayFor(modelItem => item.Capacity)</td>
            <td class="tg-031e">@Html.DisplayFor(modelItem => item.MinimumPrice)</td>
            <td class="tg-031e">
                <button onclick="location.href = '@Url.Action("Index", "PriceMoment", new { roomId = @item.RoomId })'" style="color: grey;">Custom Pricing</button>
                <button onclick="location.href = '@Url.Action("Update", "Room", new { roomId = @item.RoomId })'" style="color: grey;">Update</button>
                <button onclick="location.href = '@Url.Action("Delete", "Room", new { roomId = @item.RoomId })'" style="color: grey;">Delete</button>
            </td>
        </tr>
    }

</table>

<button onclick="location.href = '@Url.Action("Create", "Room")'" style="color: grey;">Add New</button>
