@model ConfidentialEternalPottery.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Booking</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Room.RoomId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room.RoomId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GuestId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GuestId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BillingAddressId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BillingAddressId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.From)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.From)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.To)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.To)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BackAccount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BackAccount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
